<h1>
  <span class="far fa-plus-square"></span> New product
</h1>

<form method="post" action="/products/create">
  <div class="form-group">
    <input type="text" id="inputName" class="form-control" name="name" placeholder="Enter the product's name here" required="required" autofocus="autofocus" />
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Create product</button>
</form>
