<h1>
  <span class="fa fa-cog"></span> Product details</h1>

<dl class="row">
  <dt class="col-sm-2">ID</dt>
  <dd class="col-sm-10">{{viewData.product.id}}</dd>

  <dt class="col-sm-2">Name</dt>
  <dd class="col-sm-10">{{viewData.product.name}}</dd>
</dl>